.sku-list {
    .offer-msg {
        font-size: 1.8em;
        font-weight: 700;
        line-height: 1.8rem !important;
        font-family: "ProximaNova-A-Black";
        color: #003b49 !important;
        padding-top: 10px;
    }

    p {
        margin-bottom: 5px;
        &.ofr-disclaimer {
            line-height: 16px;
        }
    }

    .btn-primary {
        background-color: #007db4;
        border-radius: 0;
        max-width: 135px;
        padding: 16px;
        &:hover {
            text-decoration: underline;
        }
    }
    .btn-secondary {
        background-color: #4a4a4a;
        border-radius: 0;
        max-width: 135px;
        padding: 16px;
        &:hover {
            text-decoration: underline;
        }
        margin-right: 2%;
    }
    // .sku-img-align{
    //     margin-left: -25px;
    // }
    .MuiButtonBase-root{
        margin-left:4px
    }
}
