section {
    margin: 0 auto;
    display: flex;
    .column {
        margin: 5px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        position: relative;
        z-index: 1;
        // Extra

        // padding: 10px 0;
        text-align: center;

        .thumbnail-image:hover {
            opacity: 0.1;
        }

        .last-item {
            opacity: 0.1;
        }

        .jump-to,
        .show-extra {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}
