.ad-menu-content {
    .ad-menu-text {
        display: inline-block;

        .label {
            font-weight: bold;
            margin-left: 0px;
        }

        .valid {
            font-size: 10;
        }
    }
}

.sub-menu {
    display: inline;
}
