.ad-popup {
    .offer-msg {
        font-size: 1.8em;
        font-style: italic;
        font-weight: 400;
        margin: 0.5rem 15.8rem 0.5rem 0;
    }
}

.ad-modal {
    .MuiPaper-root {
        min-width: 700px !important;
    }
}

.close-icon-styl{
    font-size: 2rem !important;
}
@media only screen and (min-width:0px) and (max-width:576px) {
    .ad-modal{
        .MuiPaper-root{
            min-width: 400px !important;
        }
    }
}