.ad-popup {
    .offer-msg {
        font-size: 1.8em;
        font-style: italic;
        font-weight: 400;
        margin: 0.5rem 15.8rem 0.5rem 0;
    }
}

.ad-modal {
    .MuiPaper-root {
        max-width: 700px !important;
    }
}
