.ad-menu-popover {
    .MuiPaper-root {
        box-shadow: none;
        background-color: transparent;
    }
}
.ad-menu-container {
    display: flex;
    overflow-y: hidden;
    .ad-menu-items {
        .MuiList-root {
            flex: 1;
        }
        nav {
            background-color: #ecf6fa;
            padding: 0;
        }
        .ad-menu-list {
            .ad-menu-item {
                display: flex;
                .image {
                    flex: 1;
                }
                .content {
                    padding-left: 20px;
                    text-decoration: none;
                    color: #333333;
                    .offer {
                        width: max-content;
                        text-decoration: none;
                        font-size: 14px;
                    }
                    .label {
                        font-weight: bold;
                        font-size: 16px;
                    }

                    .btn-active {
                        margin-top: 20px;
                        background: white;
                        border: 2px solid #007db4;
                        color: #007db4;
                        font-weight: 400;
                        padding: 5px 13px;
                        border-radius: 5px;
                    }
                    .btn-disabled {
                        margin-top: 20px;
                        background: white;
                        border: 2px solid lightgray;
                        color: lightgray;
                        font-weight: 400;
                        padding: 5px 13px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .list-decortn:hover {
            text-decoration: none;
        }
        .list-hvr-color:hover {
            background-color: white;
        }
    }

    .ad-sub-menu {
        overflow: hidden;
        box-shadow: rgb(0 0 0 / 28%) 0px 13px 8pt 3px;
        background-color: #fff;
        .thumbnail-popover {
            width: auto;
        }
    }
}

.ad-menu-block {
    overflow: hidden;
    .ad-menu-list {
        display: inline;
        float: left;
    }
    .thumbnail-popover {
        float: left !important;

        .thumbnail-image {
            cursor: pointer;
        }
    }
}

.ad-menu {
    position: relative;
    left: 3%;
    .selected-menu-label {
        text-decoration: underline;
        font-size: 16px;
        cursor: pointer;
    }
    .date-valdty {
        padding-left: 18pt;
        font-size: 10pt;
    }
    .drpdwn-arrow {
        cursor: pointer;
        display: inline-block;
        left: 3%;
        width: 8px;
        height: 8px;
        //top: 6px;
        border-right: 2px solid #212529;
        border-bottom: 2px solid #212529;
        position: relative;
        
        //content: " ";

        &.up {
            transform: rotate(-135deg);
            //transition-duration: 0.5s;
            transition: all .2s ease-in-out;
           // -webkit-transform: rotate(-135deg);
        }

        &.down {
            transform: rotate(45deg);
            //transition-duration: 0.5s;
            transition: all .2s ease-in-out;
           // -webkit-transform: rotate(45deg);
        }
    }

    .paper-root {
        .ad-menu-list-item-div {
            .ad-menu-img {
                float: left;
            }
            .ad-menu-text {
            }
            display: flex;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {

.ad-menu {
    .date-valdty{
        display: flex;
       padding-left: 0;
    }
}
.ad-menu-popover{
    .MuiPaper-root {
        margin-left: -4% !important;
        min-width: 100%;
        box-shadow: rgb(0 0 0 / 28%) 0px 13px 8pt 3px;
    }
}
.ad-menu-container {
    margin-top: 7%;
}

.ad-menu-list {
    .ad-menu-item {
        .image {
            margin-left: 14px;
        }
        .content {
            margin-left: 14px;

            }
        }
    }
}