.category-filter {
    left: 64%;
    display: inline;
    position: relative;

    // .title-link:hover {
    //     text-decoration: underline;
    // }
    .catgry-dropdwnp-menu {
        box-shadow: rgba(0, 0, 0, 0.28) 0px 13px 8pt 3px;
        min-width: 100%;
        left: 9px !important;
        .MuiList-padding {
            // margin-top: 3px;
            // padding-bottom: 0px;
            // padding-top: 0px;
        }
        .MuiListItem-root{
        margin-right: 23px;
        left: 18%;
        margin-top: 5px;
        font-size: 16px;
        text-decoration: none;
        }
        .MuiListItem-root:hover{
            background-color: transparent;
        }
        .MuiPaper-elevation1{
            border-radius: 0;
        }
    }
    .catgry-text {
        cursor: pointer;
        font-size: 16px;;
        .slctd-catgry-text {
           // text-transform: capitalize !important;
            text-decoration: underline;
        }
        .drpdwn-arrow {
            display: inline-block;
            left: 7%;
            width: 8px;
            height: 8px;
            border-right: 2px solid #212529;
            border-bottom: 2px solid #212529;
            position: relative;
    
            &.up {
                transform: rotate(-135deg);
                transition: all .2s ease-in-out;
            }
    
            &.down {
                transform: rotate(45deg);
                transition: all .2s ease-in-out;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
.category-filter {
        left: 0;
        flex-basis: 50%;


    .catgry-dropdwnp-menu {
        background-color: white !important;
       width: 100vw;
       left: -50% !important;
       padding-bottom: 7px;
       top: 19px !important;

       .MuiList-root {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       }

        .MuiListItem-root{
            padding-left: 25%;
            border: 1px solid #127DB4;
            margin: 3px;
            float: left;
            border-radius: 40px;
            text-align: center;
            margin-top: 19px;
            padding: 10px 20px;
            color: #127DB4;
            margin-right: 7px;
            left: 0;
        }
    }
}

}
@media only screen and (min-width:577px) and (max-width: 768px) {
    .category-filter {
        left: 0;
        flex-basis: 30%;
        .catgry-dropdwnp-menu {
            background-color: white !important;
           width: 100vw;
           left: -116% !important;
           padding-bottom: 7px;
           top: 19px !important;
           
           .MuiList-root {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
           }
    
            .MuiListItem-root{
                padding-left: 25%;
                border: 1px solid #127DB4;
                margin: 3px;
                float: left;
                border-radius: 40px;
                text-align: center;
                margin-top: 19px;
                padding: 10px 20px;
                color: #127DB4;
                margin-right: 3%;
                left: 0;
            }
    }
    }

}