.column {
    margin: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    position: relative;
    z-index: 1;
    // Extra

    // padding: 10px 0;
    text-align: center;

    .thumbnail-image {
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        opacity: 1;
    }

    .thumbnail-image-hover {
        opacity: 0.1;
    }

    .last-item {
        opacity: 0.1;
    }

    .show-extra {
        //z-index: 2;
        // left: 50%;
        .more-pages-decor {
            text-decoration: none;
            color: #007db4;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            position: absolute;
            text-align: center;
            top: 45%;
        }
    }
    .jump-to {
        background-color: white;
        border-radius: 5px;
        border: 1px solid #007db4;
        color: #007db4;
        // opacity: 0;
        transition: 1s;
        width: 60px;
        height: 36px;
        font-size: 10px;
        padding: 8px;
        position: absolute;
        top: 40%;
        right: 27px;
        font-weight: bold;
    }
}
